body {
    background-color:#eee;
    font-family: monospace;
    padding: 0;
    margin:50px;
}

#chatStatus {
    color:red;
}

.usernameArea {
    font-size:15px;
}

div#messages {
    background-color:#dedede;
    padding:10px;
    margin:20px 0 10px 0;
    font-size:15px;
}

input#username {
    padding:0 10px;
    border: 1px solid #dedede;
}
input#username, input[type=button] {
    height:20px;
}

input#myMessage {
    width:100%;
    font-size:20px;
    height:30px;
    background:#eee;
    border:0;
    outline:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}